[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
allennlp-wordsplitter-ltp = {editable = true,path = "."}
pylint = "*"
autopep8 = "*"

[packages]

[requires]
python_version = "3.6"
